@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe/Circe-Light.ttf);
  font-weight: 300;
       
}

@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe/Circe-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe/Circe-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe/Circe-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe/Circe-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe/Circe-ExtraBold.ttf);
  font-weight: 800;
}